## QUESTION2 P2
- Use 'employee_compensation' data set.
- Data contains fiscal and calendar year information. Same employee details exist twice in the dataset. Filter data by calendar year and find average salary (you might have to find average for each of the columns for every employee. Eg. Average of Total Benefits, Average of total compensation etc.) for every employee.
- Now, find the people whose overtime salary is greater than 5% of salaries (salaries refers to ’Salaries' column)
- For each ‘Job Family’ these people are associated with, calculate the percentage of total benefits with respect to total compensation (so for each job family you have to calculate average total benefits and average total compensation). Create a new column to hold the percentage value.
- Display the top 5 Job Families according to this percentage value using df.head().
- Write the output (jobs and percentage value) to a csv.

In [1]:
import os
from pathlib import Path
from pandas import Series, DataFrame
import pandas as pd

##get the data path
p = Path(os.getcwd())
csv_path=str(p.parent)+'/Data/employee_compensation.csv'
print(csv_path)

/Users/yutian/Desktop/Assignment3_yutian/Data/employee_compensation.csv

In [2]:
data=pd.read_csv(csv_path)
##print(data)
frame=DataFrame(data)
frame.head(10)

,Year Type,Year,Organization Group Code,Organization Group,Department Code,Department,Union Code,Union,Job Family Code,Job Family,...,Employee Identifier,Salaries,Overtime,Other Salaries,Total Salary,Retirement,Health/Dental,Other Benefits,Total Benefits,Total Compensation
0,Calendar,2013,2,"Public Works, Transportation & Commerce",AIR,Airport Commission,38.0,"Plumbers and Pipefitters, Local 38",7300,Journeyman Trade,...,52206,98528.52,0.00,3955.59,102484.11,20142.55,12918.24,8371.76,41432.55,143916.66
1,Fiscal,2015,4,Community Health,DPH,Public Health,790.0,"SEIU - Miscellaneous, Local 1021",2600,Dietary & Food,...,52950,69169.82,755.02,4179.08,74103.92,15641.92,12499.30,5669.02,33810.24,107914.16
2,Calendar,2016,3,Human Welfare & Neighborhood Development,WOM,Department of the Status of Women,323.0,Members of Boards and Commissions,0900,Management,...,33958,200.00,0.00,0.00,200.00,0.00,51.45,15.83,67.28,267.28
3,Calendar,2016,6,General Administration & Finance,HRD,Human Resources,790.0,"SEIU - Miscellaneous, Local 1021",8100,Legal & Court,...,33073,1783.00,0.00,0.00,1783.00,325.05,257.23,153.85,736.13,2519.13
4,Fiscal,2015,5,Culture & Recreation,REC,Recreation and Park Commission,790.0,"SEIU - Miscellaneous, Local 1021",9900,Public Service Aide,...,15849,1102.50,0.00,0.00,1102.50,0.00,538.82,85.36,624.18,1726.68
5,Calendar,2016,2,"Public Works, Transportation & Commerce",DBI,Department of Building Inspection,790.0,"SEIU - Miscellaneous, Local 1021",1400,"Clerical, Secretarial & Steno",...,23930,80207.24,2232.53,1568.00,84007.77,15064.98,13890.29,6888.51,35843.78,119851.55
6,Fiscal,2013,2,"Public Works, Transportation & Commerce",DPW,General Services Agency - Public Works,21.0,"Prof & Tech Engineers - Miscellaneous, Local 21",5200,Professional Engineering,...,20713,146952.03,0.00,0.00,146952.03,26025.22,12801.62,10118.71,48945.55,195897.58
7,Calendar,2014,6,General Administration & Finance,ADM,General Services Agency - City Admin,790.0,"SEIU - Miscellaneous, Local 1021",9900,Public Service Aide,...,38054,24180.00,0.00,0.00,24180.00,1490.20,8586.13,1880.37,11956.70,36136.70
8,Calendar,2015,2,"Public Works, Transportation & Commerce",AIR,Airport Commission,790.0,"SEIU - Miscellaneous, Local 1021",2700,Housekeeping & Laundry,...,55117,56531.00,0.00,7288.42,63819.42,12650.47,12424.50,5219.56,30294.53,94113.95
9,Fiscal,2014,2,"Public Works, Transportation & Commerce",AIR,Airport Commission,790.0,"SEIU - Miscellaneous, Local 1021",9900,Public Service Aide,...,45363,10429.97,0.00,0.00,10429.97,0.00,3578.60,807.48,4386.08,14816.05

In [5]:
##select the columns and filter the year type
frame_new=frame[['Year Type','Employee Identifier','Job Family','Total Benefits','Total Compensation','Salaries','Overtime']]
frame_new=frame_new.loc[frame_new['Year Type']=='Calendar']
frame_new.head(10)

,Year Type,Employee Identifier,Job Family,Total Benefits,Total Compensation,Salaries,Overtime
0,Calendar,52206,Journeyman Trade,41432.55,143916.66,98528.52,0.00
2,Calendar,33958,Management,67.28,267.28,200.00,0.00
3,Calendar,33073,Legal & Court,736.13,2519.13,1783.00,0.00
5,Calendar,23930,"Clerical, Secretarial & Steno",35843.78,119851.55,80207.24,2232.53
7,Calendar,38054,Public Service Aide,11956.70,36136.70,24180.00,0.00
8,Calendar,55117,Housekeeping & Laundry,30294.53,94113.95,56531.00,0.00
10,Calendar,38711,Dietary & Food,32908.84,111084.25,70326.45,3125.89
13,Calendar,1294,Journeyman Trade,2367.57,8044.63,5502.00,0.00
14,Calendar,23029,Agriculture & Horticulture,34064.57,117266.41,63978.00,17039.61
15,Calendar,33675,Park & Zoo,28138.44,77617.59,48004.27,0.00

In [15]:
## find Average of Total Benefits, Average of total compensation  for every employee.
average_frame=frame_new.groupby(['Employee Identifier'])['Total Compensation','Total Benefits','Salaries','Overtime'].mean()
DataFrame(average_frame).head(10)

,Total Compensation,Total Benefits,Salaries,Overtime
Employee Identifier,,,,
1,60577.913333,20213.936667,40334.303333,0.000000
2,15741.910000,4680.210000,11061.700000,0.000000
3,21237.550000,6550.720000,13722.000000,964.830000
4,26526.275000,7741.395000,18574.880000,0.000000
5,22415.950000,2885.545000,19525.227500,0.000000
6,236092.872500,48431.257500,133842.770000,33892.200000
7,173556.030000,35846.440000,114864.250000,456.100000
8,86689.240000,28823.597500,52510.080000,4106.932500
9,83918.000000,25996.100000,57816.900000,105.000000
10,18723.840000,4124.560000,13572.966667,619.173333

In [22]:
##people whose overtime salary is greater than 5% of salaries
overtime_frame=DataFrame(average_frame)

overtime_frame['rate'] = overtime_frame['Overtime']/overtime_frame['Salaries']
overtime_frame.head(10)

mask = (overtime_frame['rate'] >= 0.05) 
outcome_frame=overtime_frame.loc[mask]
outcome_frame

,Total Compensation,Total Benefits,Salaries,Overtime,rate
Employee Identifier,,,,,
3,21237.550000,6550.720000,13722.000000,964.830000,0.070313
6,236092.872500,48431.257500,133842.770000,33892.200000,0.253224
8,86689.240000,28823.597500,52510.080000,4106.932500,0.078212
18,140871.580000,41043.615000,70408.095000,27338.112500,0.388281
20,93734.585000,30502.622500,56586.132500,5763.415000,0.101852
23,24467.470000,9014.073333,13302.013333,1214.496667,0.091302
29,72255.190000,10576.090000,16596.300000,1679.200000,0.101179
35,60853.050000,16144.800000,36371.700000,6074.440000,0.167010
36,145563.575000,40385.550000,92823.812500,9076.657500,0.097784
42,108969.462500,36514.665000,66358.902500,5257.730000,0.079232
45,149022.014000,30937.778000,95875.698000,11466.376000,0.119596
47,175837.800000,44113.400000,115309.700000,15863.780000,0.137575
56,103237.507500,26380.752500,67774.602500,4176.787500,0.061628
57,185197.645000,46146.597500,114938.375000,10762.427500,0.093637
58,119883.110000,32434.912000,71296.822000,7320.318000,0.102674
67,60712.700000,22048.000000,35375.440000,2700.470000,0.076337
72,78237.215000,27732.480000,43992.805000,5000.915000,0.113676
73,45950.106667,13694.456667,24472.230000,4418.533333,0.180553
81,261510.257500,46612.665000,131483.815000,70371.035000,0.535207
84,14708.485000,3124.205000,6730.155000,4669.590000,0.693831
95,149757.976000,30938.392000,95768.346000,15226.100000,0.158989
102,111990.090000,28354.506667,78032.340000,4192.410000,0.053727
103,170334.755000,40583.890000,97092.002500,18089.302500,0.186311
110,39165.020000,8864.120000,22896.020000,2461.500000,0.107508
113,106713.560000,32648.960000,56539.360000,10480.280000,0.185363
118,139273.902000,37924.614000,86111.082000,12119.966000,0.140748
130,24280.100000,8602.450000,13424.150000,968.620000,0.072155
131,89988.372500,29551.807500,53295.312500,5420.417500,0.101705
132,44537.807500,14973.612500,26686.765000,1467.740000,0.054999
133,61562.430000,21305.936667,32760.140000,5892.330000,0.179863
...,...,...,...,...,...
55102,156061.280000,41326.892500,81690.355000,14742.340000,0.180466
55105,44032.730000,14196.125000,26030.430000,3433.075000,0.131887
55108,164726.550000,44506.212500,110251.862500,5572.730000,0.050545
55109,116335.180000,33560.036000,56601.440000,21757.304000,0.384395
55110,86726.600000,28341.820000,45243.802500,9524.717500,0.210520
55114,190223.795000,39197.052500,121936.460000,15088.227500,0.123738
55116,105458.610000,2476.510000,9021.900000,811.970000,0.090000
55125,26155.400000,7156.510000,15045.800000,1098.520000,0.073012
55126,77846.740000,21793.425000,35978.540000,17851.905000,0.496182
55134,182021.540000,41997.950000,97838.236667,26079.100000,0.266553
55136,201968.148000,37659.650000,106852.178000,47717.016000,0.446570
55137,1256.670000,298.460000,847.970000,110.240000,0.130005
55138,16284.050000,1788.695000,10060.525000,3193.025000,0.317382
55141,151444.730000,39263.282500,85247.740000,22511.422500,0.264071
55144,86278.445000,29431.460000,50649.350000,4269.920000,0.084304
55146,231331.727500,46096.105000,148446.990000,26743.377500,0.180154
55148,177653.072500,38651.500000,100644.227500,6801.097500,0.067576
55155,130084.052500,36897.775000,71375.075000,8136.047500,0.113990
55157,141007.240000,36172.122500,73756.925000,18933.540000,0.256702
55160,142971.140000,38184.426667,66901.726667,22604.243333,0.337872
55164,89275.497500,28563.487500,48870.637500,8891.235000,0.181934
55171,28016.420000,9483.250000,16651.900000,1069.970000,0.064255
55172,105334.530000,32160.542500,62174.875000,5650.295000,0.090877
55174,128614.825000,37057.045000,61299.995000,25241.807500,0.411775
55178,113873.565000,32903.285000,76226.620000,4071.910000,0.053418
55179,122347.247500,34729.330000,63141.505000,11067.630000,0.175283
55189,124068.975000,34959.342500,72036.540000,12813.595000,0.177876
55190,162917.500000,31058.980000,72545.500000,53662.155000,0.739703
55194,131913.085000,34172.320000,75039.100000,15341.075000,0.204441
55197,160363.932500,39262.325000,76038.180000,34682.472500,0.456119

In [26]:
## get the percent of total benefits
overtime_frame['percent_total_benefits'] = overtime_frame['Total Benefits']/overtime_frame['Total Compensation']
overtime_frame.head(10)

,Total Compensation,Total Benefits,Salaries,Overtime,rate,percent_total_benefits
Employee Identifier,,,,,,
1,60577.913333,20213.936667,40334.303333,0.000000,0.000000,0.333685
2,15741.910000,4680.210000,11061.700000,0.000000,0.000000,0.297309
3,21237.550000,6550.720000,13722.000000,964.830000,0.070313,0.308450
4,26526.275000,7741.395000,18574.880000,0.000000,0.000000,0.291839
5,22415.950000,2885.545000,19525.227500,0.000000,0.000000,0.128727
6,236092.872500,48431.257500,133842.770000,33892.200000,0.253224,0.205136
7,173556.030000,35846.440000,114864.250000,456.100000,0.003971,0.206541
8,86689.240000,28823.597500,52510.080000,4106.932500,0.078212,0.332493
9,83918.000000,25996.100000,57816.900000,105.000000,0.001816,0.309780
10,18723.840000,4124.560000,13572.966667,619.173333,0.045618,0.220284

In [29]:
##sort the percent_total_benefits
overtime_frame.sort_values(by='percent_total_benefits', ascending=0).head(10)

,Total Compensation,Total Benefits,Salaries,Overtime,rate,percent_total_benefits
Employee Identifier,,,,,,
25351,15.20,15.20,0.0,0.0,NaN,1.0
22304,15.20,15.20,0.0,0.0,NaN,1.0
28280,397.93,397.93,0.0,0.0,NaN,1.0
47904,166.54,166.54,0.0,0.0,NaN,1.0
1445,-0.61,-0.61,0.0,0.0,NaN,1.0
28879,601.09,601.09,0.0,0.0,NaN,1.0
13032,-365.11,-365.11,0.0,0.0,NaN,1.0
40072,-7.70,-7.70,0.0,0.0,NaN,1.0
54569,68.50,68.50,0.0,0.0,NaN,1.0
31866,3712.98,3712.98,0.0,0.0,NaN,1.0

In [30]:
##generate csv file
overtime_frame.to_csv('q2p2.csv',sep='\t')